

h1{
    text-align: center;
    font-weight : bold;
    font-size : 40px;
}

h2{
    font-size : 20px;
    text-transform: uppercase;
}

#table
{
    display: flex;
    justify-content: space-around;
}

footer{
    position: absolute;
    bottom: 0px;
    gdisplay: flex;
    color: white;
    text-align: center;
}
a{
    color:white;
}
