

h1{
    text-align: center;
    font-weight : bold;
    font-size : 40px;
}

h2{
    font-size : 20px;
    text-transform: uppercase;
}

#table
{
    display: flex;
    justify-content: space-around;
}

footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
}
a{
    color:white;
}
